body{
    padding: 0px;
    margin: 0px;
}
.donate-btn{
    background-color:#F05A26;
    border-radius: 50px;
    color: white;
    width: 178px;
    height:45px;
    border: none;
}
.navbar-nav{
    margin-right: 50px;
}
 
.hero-section{
    display: flex;
    
}
.hero-section{
    width: 100vw;
    position: relative;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-image: url(./assests/school/Asset\ 7@4x.png);
    height: 70vh;
    width: auto;
}
.text-section{
    text-align: left;
    align-items: center;
    height: 100%;
    position: absolute;
    top: 70px;
    left: 70px;
    width: 40%;
    color: white;
}
.text-section h1{
    margin-bottom: 20px;
}
@media only screen and (max-width: 768px) {
    .text-section{
        text-align: left;
        align-items: center;
        height: 100%;
        position: absolute;
        top: 100px;
        left: 40px;
        width: 70%;
        color: white;
        line-height: 20px;
        font-size: 15px;
    }
    .text-section h1{
        margin-bottom: 15px;
       font-weight: 700;
       font-size: 35px;
    }
  }
@media only screen and (max-width: 1000px) {
    .text-section{
        text-align: left;
        align-items: center;
        height: 100%;
        position: absolute;
        top: 250px;
        left: 40px;
        width: 50%;
        color: white;
        line-height: 20px;
        font-size: 15px;
    }
    .text-section h1{
        margin-bottom: 25px;
       font-weight: 700;
       font-size: 45px;
    }
    .text-section p{
line-height: 30px;
font-size: 20px;
    }
  }

  

