body {
    padding: 0px;
    margin: 0px;
    background-color: #ffff;
    font-family: ;
}

.donate-btn {
    background-color: #F05A26;
    border-radius: 50px;
    color: white;
    width: 160px;
    height: 45px;
    border: none;
}

.navbar-nav {
    margin-right: 50px;
}

.hero-section {
    display: flex;

}

.hero-section {
    width: 100vw;
    position: relative;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-image: url("../assests/home/Screenshot\ 2024-09-30\ 113506.png");
    height: 70vh;
    width: auto;


}

.text-section {
    text-align: left;
    align-items: center;
    height: 100%;
    position: absolute;
    top: 70px;
    left: 70px;
    width: 40%;
    color: white;
}

.text-section h1 {
    margin-bottom: 20px;
}

.more-btn {
    color: white;
    border-style: none;
    border-radius: 25px;
    background-color: #F05A26;
    height: 40px;
    width: 130px;
}

.learn-btn {
    background-color: none;
    color: #F05A26;
    border: 1px solid #F05A26;
    height: 40px;
    width: 120px;
    border-radius: 20px;
}

.bg-image {
    width: 80%;
    height: 105%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
}

.about-img1 {
    width: 50%;
    height: auto;
}

.about-heading {
    width: 60%;
    color: #F05A26;
    font-weight: 700;
}

.school-row {
    color: white;
    height: 65vh;
    background-image: linear-gradient(rgba(64, 34, 17, 0.65), rgba(64, 34, 17, 0.65)), url(../assests/home/bg.png);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;



}

.school-img {
    width: 100%;
    height: auto;
}

.school-h1 {
  color: white;
    font-size: 35px;
    width: 80%;
    margin-bottom: 25px;
}

.school-btn {
    background-color: #F05A26;
    border-radius: 50px;
    color: white;
    width: 160px;
    height: 45px;
    border: none;
}

.school-text {
    margin-left: 55px;
}

.xplore-btn {
    background-color: #F05A26;
    border-radius: 50px;
    color: white;
    width: 160px;
    height: 45px;
    border: none;

}

.community-heading h1 {
    font-size: 45px;
    width: 100%;
    color: #F05A26;
}

.community-text {
    margin-left: 55px
}

.community-para {
    font-size: 16px;
    width: 80%;
    color: #000000;
}

.community-img img {
    width: 85%;
    height: auto;
    margin-left: 50px;
    margin-top: 55px;
}





.gallery-img-col img {
    width: 80%;
    height: auto;
    /* text-align: left; */

}

.gallery-section h1 {
    margin-top: 25px;
    margin-bottom: 35px;
    font-size: 52px;
    text-align: center;
}

.gallery-btn button {
    margin-top: 30px;
    margin-bottom: 35px;
    font-size: 16px;
    border: 1px solid black;
    height: 40px;
    width: 200px;
    border-radius: 50px;
    color: #000000;

}

.gallery-text {
    color: #3e3e3e;
    width: 80%;
}

.gallery-text h2 {
    font-size: 26px;
    text-align: left !important;
}


/* footer-css */

.footer {
    width: 100%;
    overflow: hidden;
}

.footer img {
    width: 100%;
    height: auto;
    margin-left: 35px;
}

.footer-row {
    background-color: #333333;
    height: 190px;
    margin: 0;

}

.footer-bottom {
    height: 60px;
    background-color: #000000;
}

.social-icons {
    font-size: 35px;
}

.footer-icons p {
    margin-top: 10px;
    font-size: 25px;
}








@media only screen and (max-width: 768px) {
    .donate-btn {
        background-color: #F05A26;
        border-radius: 50px;
        color: white;
        width: 130px;
        height: 45px;
        border: none;
        font-size: 14px;
    }

    .hero-section {
        width: 100vw;
        position: relative;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        background-image: url("../assests/school/Asset\ 7@4x.png");
        height: 70vh;
        width: auto;


    }

    .text-section {
        text-align: left;
        align-items: center;
        height: 100%;
        position: absolute;
        top: 100px;
        left: 40px;
        width: 70%;
        color: white;
        line-height: 20px;
        font-size: 15px;
    }

    .text-section h1 {
        margin-bottom: 15px;
        font-weight: 700;
        font-size: 35px;
    }

    .bg-image {
        width: 90%;
        height: auto;
        position: absolute;
        top: 0;
        left: 0;
        z-index: -1;
    }

    .about-img1 {
        width: 70%;
        height: auto;
    }

    .school-h1 {
        font-size: 20px;
        width: 100%;
    }

    .school-h2 {
        font-size: 18px;
    }

    .school-btn {
        font-size: 12px;
        height: 30px;
        width: 100px;
    }
    .school-text{
        margin-left: 10px;
    }
    .community-text {
        margin-left: 15px
    }
    .community-text p{
        font-size: 12px;
    }
    .xplore-btn{
        font-size: 12px;
        height: 30px;
        width: 100px;
    
    }
    .footer-row {
        background-color: #333333;
        height: 150px;
        margin: 0;

    }

    .footer-bottom {
        height: 45px;
        background-color: #000000;
        display: flex;
        align-items: center;
    }

    .footer-bottom p {
        font-size: 10px;
        padding-bottom: 10px;
    }

    .social-icons {
        font-size: 20px;
        margin-left: 50px;
    }

    .footer-icons {
        margin-left: 70px;
    }

    .footer-icons p {
        font-size: 20px;

    }
}


@media (min-width: 769px) and (max-width: 1024px) {

    .text-section {
        text-align: left;
        align-items: center;
        height: 100%;
        position: absolute;
        top: 250px;
        left: 40px;
        width: 50%;
        color: white;
        line-height: 20px;
        font-size: 15px;
    }

    .text-section h1 {
        margin-bottom: 25px;
        font-weight: 700;
        font-size: 45px;
    }

    .text-section p {
        line-height: 30px;
        font-size: 16px;
    }
}