.thankyou{
    background-image: url();
}
.thankyou img{
    width: 100%;
    height: auto;
}
.social-icons {
    font-size: 25px;
}
@media only screen and (max-width: 768px) {
  .thankyou h1{
    font-size: 25px;
    text-align: center;
  }  
}